<h1 class="titleUpdateAnnonce">Modifier votre annonce</h1>
<form [formGroup]="annonceUpdateForm" class="updateAnnonceForm">
    <div class="field">
        <mat-form-field appearance="fill" class="updateAnnonceInput">
            <mat-label>Titre</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>
    </div>

    <div class="field">
        <mat-form-field appearance="fill" class="updateAnnonceInput">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let service of serviceList" [value]="service">{{service}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field appearance="fill" class="updateAnnonceInput">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="field">
        <mat-form-field appearance="fill" class="updateAnnonceInput">
            <mat-label>Villes</mat-label>
            <input matInput formControlName="location" required>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field appearance="fill" class="updateAnnonceInput">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
    </div>

    <app-file-upload [fileControl]="annonceUpdateForm" (sendFile)="updateFile($event)"></app-file-upload>
    

    <div class="myBtn">
        <div class="updateBtn">
            <button type="submit" aria-label="Poster une annonce" (click)="updateAnnonce()">Modifier</button>
            <span class="bottom"></span>
            <span class="right"></span>
            <span class="top"></span>
            <span class="left"></span>
        </div>
        <div class="deleteBtn">
            <button type="submit" aria-label="Poster une annonce" (click)="deleteAnnonce()"><i class="far fa-trash-alt"></i>Supprimer</button>
            <span class="bottom"></span>
            <span class="right"></span>
            <span class="top"></span>
            <span class="left"></span>
        </div>
    </div>
</form>
