@import "../../../variables.scss";

.updateAnnonceForm {
  @include formFormulaire;
  .field {
    width: 25vw;
    .updateAnnonceInput {
      @include inputFormulaire;
    }
  }
}

.titleUpdateAnnonce {
  text-align: center;
  padding-top: 4vh;
  @include titleH1;
}

.myBtn {
  display: flex;
  margin: 2.5em 0;
}
.updateBtn,
.deleteBtn {
  position: relative;
  width: 10em;
  height: 3em;
  margin: 0 0.5em;
  button {
    width: 100%;
    height: inherit;
    color: black;
    font-size: inherit;
    font-family: inherit;
    background-color: #90d6ce;
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;
    font-weight: bold;
  }
  button:focus {
    outline: none;
  }
  button::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
  }
  span {
    position: absolute;
    background-color: #000;
    transform-origin: center;
    transition: transform 0.5s ease;
  }
  .bottom,
  .top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
  }
  .left,
  .right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  button:focus ~ .top,
  button:focus ~ .bottom {
    transform: scaleX(1);
  }
  button:focus ~ .left,
  button:focus ~ .right {
    transform: scaleY(1);
  }
}
.deleteBtn {
  i {
    margin-right: 0.3em;
  }
  button {
    background-color: #f44336;
  }
}

@media screen and (max-width: 767px) {
  .titleUpdateAnnonce {
    font-size: 40px;
    margin-bottom: 5vh;
  }
  .updateAnnonceForm {
    .field {
      width: 85vw;
      .updateAnnonceInput {
        width: 85vw;
      }
    }
  }
  .myBtn {
    flex-direction: column;
  }
  .updateBtn,
  .deleteBtn {
    margin: 0.5em 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .titleUpdateAnnonce {
    font-size: 40px;
    margin-bottom: 7vh;
  }
  .updateAnnonceForm {
    .field {
      width: 50vw;
      .updateAnnonceInput {
        width: 50vw;
      }
    }
  }
}
