@import "../../variables.scss";

.inscriptionPage {
  h1 {
    text-align: center;
    @include titleH1;
    margin-top: 1em;
  }
  .inscriptionForm {
    @include formFormulaire;
    .field {
      width: 25vw;
      .inscriptionInput {
        @include inputFormulaire;
      }
    }
  }
  .myError {
    font-size: 22px;
    font-weight: bold;
    color: #f44336;
  }
  .subscriptionBtn {
    @include btnFormulaire;
  }
}


@media screen and (max-width: 767px) {
  .inscriptionPage {
    h1 {
      font-size: 40px;
      margin-bottom: 1em;
    }
    .inscriptionForm {
      .field {
        width: 80vw;
        .inscriptionInput {
          width: 80vw;
        }
      }
    }
    .myError {
      font-size: 18px;
    }
    .subscriptionBtn {
      margin: 1.5em 0em;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inscriptionPage {
    h1 {
      font-size: 40px;
      margin-bottom: 1em;
    }
    .inscriptionForm {
      .field {
        width: 60vw;
        .inscriptionInput {
          width: 60vw;
        }
      }
    }
    .myError {
      font-size: 18px;
    }
    .subscriptionBtn{
      margin: 1.5em 0em;
    }
  }
}
