<section class="inscriptionPage">
    <h1>Inscription</h1>
    <form [formGroup]="authForm" class="inscriptionForm">

        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Je suis : </mat-label>
                <mat-select formControlName="type">
                    <mat-option *ngFor="let choice of choices" [value]="choice.value" (click)="choix(choice.value)">
                        {{choice.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.type.touched===true">
                {{getErrorMessageType()}}</mat-error>
        </div>

        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Nom</mat-label>
                <input matInput type="text" placeholder="Entrez votre nom" formControlName="lastname" required>
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.lastname.touched===true">
                {{getErrorMessageNom()}}</mat-error>
        </div>

        <div class="field" *ngIf="type !== '0'">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Prenom</mat-label>
                <input matInput type="text" placeholder="Entrez votre prenom" formControlName="firstname">
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.firstname.touched===true">
                {{getErrorMessagePrenom()}}</mat-error>
        </div>

        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Adresse mail</mat-label>
                <input matInput type="text" placeholder="adresseMail@mail.com" formControlName="email" required>
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.email.touched">
                {{getErrorMessageEmail()}}</mat-error>
        </div>

        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Adresse postale</mat-label>
                <input matInput type="text" formControlName="address" required>
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.address.touched">
                {{getErrorMessageAdresse()}}</mat-error>
        </div>
        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Code postal</mat-label>
                <input matInput type="number" formControlName="zipCode" required>
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.zipCode.touched">
                {{getErrorMessageZipCode()}}</mat-error>
        </div>
        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Ville</mat-label>
                <input matInput type="text" formControlName="city" required>
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.city.touched">
                {{getErrorMessageVille()}}</mat-error>
        </div>
        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Telephone</mat-label>
                <input type="tel" formControlName="telephone" matInput placeholder="0608921475">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.telephone.touched">
                    {{getErrorMessagePhone()}}</mat-error>
            </mat-form-field>
        </div>


        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Mot de passe"
                    formControlName="password" required (keydown.enter)="$event.preventDefault()"><button
                    mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-error *ngIf="authForm.status === 'INVALID' && authForm.controls.password.touched">
                <pre>{{getErrorPassword()}}</pre>

                <pre
                    [ngStyle]="regMinuscule.test(authForm.controls.password.value) === false ? {'color': 'red'} : {'color': 'green'}">{{getErrorPasswordMinuscule()}}</pre>
                <pre
                    [ngStyle]="regMajuscule.test(authForm.controls.password.value) === false ? {'color': 'red'} : {'color': 'green'}">{{getErrorPasswordMajuscule()}}</pre>
                <pre
                    [ngStyle]="regNumero.test(authForm.controls.password.value) === false ? {'color': 'red'} : {'color': 'green'}">{{getErrorPasswordNumero()}}</pre>
                <pre
                    [ngStyle]="regSpecial.test(authForm.controls.password.value) === false ? {'color': 'red'} : {'color': 'green'}">{{getErrorPasswordSpeciale()}}</pre>
                <pre
                    [ngStyle]="nombre === true || authForm.controls.password.value.length >= 8 ? {'color': 'green'} : {'color': 'red'}">{{getErrorPasswordNombre()}}</pre>
            </mat-error>
        </div>

        <div class="field">
            <mat-form-field appearance="fill" class="inscriptionInput">
                <mat-label>Confirmation du mot de passe</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Confirmation du mot de passe"
                    formControlName="confMdp" required (keydown.enter)="$event.preventDefault()"><button mat-icon-button
                    matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'hide2 password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-error></mat-error>
        </div>

        <div class="field fieldImageInscription">
            <app-file-upload [fileControl]="authForm" (sendFile)="getFile($event)"></app-file-upload>
        </div>
        <p class="myError">{{error}}</p>

        <div class="subscriptionBtn">
            <button type="submit" (click)="subscribe()">S'inscrire</button>
            <span class="bottom"></span>
            <span class="right"></span>
            <span class="top"></span>
            <span class="left"></span>
        </div>

    </form>
</section>