<mat-form-field appearance="fill" class="filterInput">
    <mat-label>Types de service</mat-label>
    <mat-select [formControl]="services" (selectionChange)="filterTypeService($event)" multiple>
        <mat-option *ngFor="let service of serviceList" [value]="service">{{service}}</mat-option>
    </mat-select>
</mat-form-field>