<h1 class="titleProfil">Votre profil</h1>

<section class="monProfil">
    <img src="{{user.picture}}" alt="image de l'utilisateur">
    <div class="infoProfil">
        <div class="header">
            <div class="name">
                <p>{{user.lastname}}</p>
                <p *ngIf="user.firstname !== null"> {{user.firstname}} </p>
            </div>
            <p> {{user.type | lowercase}} </p>
            <p> Inscrit depuis le {{user.createTime | date:'d/MM/y'}} </p>
        </div>
        <div class="coordonnees">
            <p class="titleCoordonnees">Coordonnées</p>
            <p> {{user.address}}
                {{user.zipCode}}
                {{user.city}} </p>
            <p> {{user.telephone}} </p>
            <p> {{user.email}} </p>
        </div>
        <div>
            <p *ngIf="user.description !== null"> {{user.description}} </p>
        </div>
        <div class="btnProfil">
            <div class="updateProfilBtn">
                <button type="submit" routerLink="update" aria-label="Poster une annonce">Modifier</button>
                <span class="bottom"></span>
                <span class="right"></span>
                <span class="top"></span>
                <span class="left"></span>
            </div>
        </div>
    </div>
</section>

<section *ngIf="annonces.length>0" class="annoncesDuUser">
    <h2>Vos annonces</h2>
    <div class="mesAnnonces">
        <app-annonce-card textButton="Modifier" redirect="profil/annonce" [annonce]="annonce"
            *ngFor="let annonce of annonces"></app-annonce-card>
    </div>
</section>