@import "../../variables.scss";

.titleProfil {
  text-align: center;
  @include titleH1;
  margin-top: 1em;
}
.monProfil {
  filter: drop-shadow(0 0 0.75rem lightgrey);
  background-color: #eeecec;
  width: 60vw;
  padding: 1em;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  .infoProfil {
    margin-left: 1.5em;
  }
  img {
    height: 30vh;
  }
}
.name {
  font-weight: bold;
  display: flex;
  justify-content: center;
  p {
    margin: 0 0.2em;
  }
}
.header,
.coordonnees,
.btnProfil {
  margin: 0.8em 0;
  line-height: 1.2;
  text-align: center;
}
.coordonnees {
  .titleCoordonnees {
    text-decoration: underline;
    margin-bottom: 0.3em;
  }
}
.btnProfil {
  display: flex;
  justify-content: center;
  margin: 1.3em 0.8em;
  button {
    width: 8vw;
    height: inherit;
    color: black;
    font-size: inherit;
    font-family: inherit;
    background-color: #90d6ce;
    padding: 0.35em 0.45em;
    margin: 0.2em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
    font-weight: bold;
  }
  button:focus {
    outline: none;
  }
  button::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
  }
  span {
    position: absolute;
    background-color: #000;
    transform-origin: center;
    transition: transform 0.5s ease;
  }
  .bottom,
  .top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
  }
  .left,
  .right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  button:focus ~ .top,
  button:focus ~ .bottom {
    transform: scaleX(1);
  }
  button:focus ~ .left,
  button:focus ~ .right {
    transform: scaleY(1);
  }
}
.annoncesDuUser {
  h2 {
    text-align: center;
    font-size: 35px;
    margin: 0 6.5em;
    margin-top: 7vh;
    padding-bottom: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    border-bottom: 3px solid #90d6ce;
  }
  .mesAnnonces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .titleProfil {
    font-size: 40px;
    margin-bottom: 5vh;
  }
  .monProfil {
    width: 90vw;
    flex-direction: column;
    .infoProfil {
      margin-left: 0;
    }
    img {
      height: auto;
    }
  }
  .btnProfil {
    button {
      width: 40vw;
    }
  }
  .annoncesDuUser {
    width: 90vw;
    margin: auto;
    h2 {
      text-align: center;
      font-size: 30px;
      margin: 0 1em;
      margin-top: 7vh;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .titleProfil {
    margin-bottom: 5vh;
  }
  .monProfil {
    width: 90vw;
  }
  .btnProfil {
    button {
      width: 20vw;
    }
  }
}
