@import '../../variables.scss';

footer {
    background-color: $color-primary;
    height: 10vh;
    ul{
        display: flex;
        justify-content: space-around;
        width: 50vw;
        margin: auto;
        height: 10vh;
        align-items: center;
        li{
            display: flex;
            margin-left: 1em;
            position: relative;
            align-items: center;
            height: 30px;
        }  
    }
}

@media screen and (max-width: 767px) {
    footer{
        ul{
            width: 100%;
            font-size: 12px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    footer{
        ul{
            width: 100%;
        }
    }
}