

footer{
    background-color: #90D6CE;
    height: 10vh;


    ul{
        display: flex;
        justify-content: space-around;
        width: 50vw;
        margin: auto;
        height: 10vh;
        align-items: center;

        li{
            display: flex;
            margin-left: 1em;
            position: relative;
            align-items: center;
            height: 30px;
        }  
    }
    
}