<figcaption class="association"
[ngStyle]="affichage === 'block' ? {'width':'60vh', 'height': '52.5vh'} : {} ">

    <div class="divImg">
        <img src="{{association.picture}}" alt="image de l'annonce">
    </div>
    <figure>
        <div class="explications">
            <p class="titleAssosCard">{{association.lastname}}</p>
            <p class="descriptionAsso">Description : {{association.description}}</p>

            <p><i class="fas fa-address-card"></i> : {{association.address}} {{association.zipCode}} {{association.city}}</p>
            <p> <i class="fas fa-envelope"></i> : {{association.email}}</p>
            <p><i class="fas fa-phone-square"></i> : {{association.telephone}}</p>
        </div>
        <div class="myButton" *ngIf="connexion === 'yes'">
            <button aria-label="Envoyer message" (click)="writeMsg()" ><i class="far fa-envelope"></i> Contacter</button>
        </div>
    </figure>
</figcaption>


