@import "../../../variables.scss";

.association {
    filter: drop-shadow(0 0 0.75rem lightgrey);
    background-color: rgb(238, 236, 236);
    width: 80vh;
    height: 62vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    .divImg {
        width: 100%;
        height: 60vh;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    figure {
        height: 20vh;
        width: 100%;
        padding: 2vh;
        display: flex;
        justify-content: space-between;
        .explications {
            width: 80vw;
        }
    }
    .myButton {
        width: 20vw;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        button {
            width: 10vw;
            height: 5vh;
        }
    }

    button {
        z-index: 1;
        position: relative;
        font-size: inherit;
        font-family: inherit;
        color: white;
        padding: 0.5em 1em;
        outline: none;
        border: none;
        background-color: $color-secondary;
        overflow: hidden;
        transition: color 0.4s ease-in-out;
    }
    .explications {
        .titleAssosCard {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 0.3em;
        }
    }
    button::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 100%;
        right: 100%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: $color-primary;
        transform-origin: center;
        transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.45s ease-in-out;
    }
    button:hover {
        cursor: pointer;
        color: #161616;
    }
    button:hover::before {
        transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
    }
    .descriptionAsso {
        margin-bottom: 0.6em;
    }
}

@media screen and (max-width: 374px) {
    .association{
        width: 90vw;
        height: 55.5vh;
        .divImg{
            height: 50vh;
        }
        figure{
            flex-direction: column;
            height: 50vh;
        }
        .myButton{
            width: 100%;
            button {
                width: 30vw;
                height: 6vh;
            }
        }
    }
}


@media screen and (min-width: 375px) and (max-width: 424px) {
    .association{
        width: 90vw;
        height: 60.5vh;
        .divImg{
            height: 50vh;
        }
        figure{
            flex-direction: column;
            height: 50vh;
        }
        .myButton{
            width: 100%;
            button {
                width: 30vw;
                height: 6vh;
            }
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .association{
        width: 90vw;
        height: 68vh;
        .divImg{
            height: 50vh;
        }
        figure{
            flex-direction: column;
            height: 50vh;
        }
        .myButton{
            width: 100%;
            button {
                width: 30vw;
                height: 6vh;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .association{
        figure{
            height: 25vh;
        }
        .myButton{
            width: 100%;
            button {
                width: 12vw;
                height: 5vh;
                line-height: 2.5vh;
            }
        }
    }
}