<div class="content">
    <h1>Bienvenue sur le portail d'Âge d'Or</h1>

    <div class="informations">
        <img src="https://www.la-france-mutualiste.fr/sites/default/files/styles/paragraph_image/public/media/images/2020-04/article_interge.png?itok=6Am_EP3B"
            alt="photo de personnes de plusieures générations">
        <div class="text">
            <p class="utilite">L'entraide intergénérationnelle</p>
            <p>Le site permet de faire se rencontrer des associations ou des bénévoles avec des personnes âgées pour les
                aider
                dans
                leurs tâches du quotidien et de favoriser la communication intergénérationnelle.</p>
            <p>N'hésitez pas à parcourir le site, vous trouverez des annonces pour donner du baume au coeur 1h par
                semaine à
                des
                personnes âgées mais aussi pour les accompagner chez le médecin ou pour faire leurs courses.</p>
            <p>Une petite action peut faire la joie d'une personne.</p>
        </div>
    </div>
</div>