@import '../../variables.scss';

.content{
    width: 70%;
    margin: 4vh auto;
    h1{
        @include titleH1;
        text-align: center;
    }
    .informations{
        display: flex;
        margin: 6em 0;
        img{
            width: 60%;
            border-radius: 5vh 0 0 5vh;
        }
        .text{
            font-size: 22px;
            margin-left: 3vh;
            p{
                margin: 4vh 0;
            }
            .utilite{
                font-weight: bold;
                margin-bottom: 5vh;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .content{
        width: 90%;
        h1{
            font-size: 35px;
            margin-bottom: 5vh;
        }
        .informations{
            flex-direction: column;
            text-align: center;
            img{
                width: 100%;
                border-radius: 5px;
            }
            .text{
                font-size: 18px;
                margin-left: 0vh;
                p{
                    margin: 2vh 0;
                }
                .utilite{
                    margin: 3vh 0;
                }
            }
        }
    }
}