<div class="maVideo">
    <video src="../../assets/video.mp4" type="video/mp4" autoplay loop></video>
</div>

<div class="content">
    
    <h1>Bienvenue sur le portail d'Âge d'Or</h1>

    <div class="informationsAgeDor">
        <div class="text">
            <p class="utilite">L'entraide intergénérationnelle</p>
            <p>Le site permet de faire se rencontrer des associations ou des bénévoles avec des personnes âgées pour les
                aider
                dans
                leurs tâches du quotidien et de favoriser la communication intergénérationnelle.</p>
            <p>N'hésitez pas à parcourir le site, vous trouverez des annonces pour donner du baume au coeur 1h par
                semaine à
                des
                personnes âgées mais aussi pour les accompagner chez le médecin ou pour faire leurs courses.</p>
            <p>Une petite action peut faire la joie d'une personne.</p>
        </div>
        
    </div>
</div>

    
<app-caroussel></app-caroussel>