@import "../../variables.scss";

.maVideo{
    overflow: hidden;
    height: 80vh;
    position: relative;
    width: 100%;
    top: -130px;
    video{
        width: 130%;
        position: relative;
        left: -180px;
    }
}
.content {
    width: 100%;
    height: 28vh;
    position: relative;
    z-index: 10;
    top: -30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        @include titleH1;
        margin-bottom: 2vh;
        padding-top: 0;
    }
    .informationsAgeDor {
        width: 80%;
        display: flex;
        .text {
            font-size: 22px;
            p {
                margin: 4vh 0;
            }
            .utilite {
                font-weight: bold;
                margin-bottom: 5vh;
            }
        } 
    }
}

@media screen and (min-width: 1240px) {
    .content {
        top: -27vh;
    }
}
@media screen and (max-width: 767px) {
    .maVideo{
        top: -12vh;
        height: inherit;
        video{
            width: 170vw;
        }
    }
    .content {
        height: 50vh;
        top: -25vh;
        h1 {
            font-size: 30px;
            width: 80vw;
        }
        .informationsAgeDor {
            flex-direction: column;
            text-align: center;
            .text {
                font-size: 18px;
                p {
                    margin: 2vh 0;
                }
                .utilite {
                    margin: 3vh 0;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    .maVideo{
        height: 65vh;
        video{
            width: 140%;
        }
    }
    .content{
        top: -30vh;
        height: 30vh;
        .informationsAgeDor{
            width: 95%;
            .text{
                p{
                    margin: 2vh 0;
                }
            }
        }
    }
}