<div class="formSearchAff">
    <form (ngSubmit)="sendSearch()" class="filterForm">
        <ul class="filterUl">
            <li class="formFilterli">
                <app-filter-entites (sendFilterEntity)="getFilterEntities($event)"></app-filter-entites>
            </li>
            <li class="formFilterli">
                <app-filter-type-service (sendFilterTypeService)="getFilterTypeService($event)">
                </app-filter-type-service>
            </li>
            <li class="formFilterli">
                <app-filter-city [type]="type" (sendFilterCity)="getFilterCity($event)"></app-filter-city>
            </li>
            <li class="formFilterli">
                <app-filter-date (sendFilterDate)="getFilterDate($event)"></app-filter-date>
            </li>
            <li class="search">
                <button mat-fab class="btnSearch btnSearchPC" aria-label="Rechercher">
                    <mat-icon>search</mat-icon>
                </button>

                <button mat-fab class="btnSearch btnSearchMobile" aria-label="Rechercher">
                    Rechercher
                </button>
            </li>
        </ul>
    </form>
    <div class="affichage">
        <mat-icon class="iconList" (click)="afficher(affichage.list)" aria-label="Liste">list</mat-icon>
        <mat-icon class="iconBlock" (click)="afficher(affichage.block)" aria-label="Bloc">view_module</mat-icon>
    </div>
</div>