@import '../../../variables.scss';

ul {
    @include ulFiltrePC;
    li {
        @include liFiltrePC;
        select,
        input {
            @include inputFiltrePC;
        }
    }
}

@media screen and (max-width: 767px) {
    ul {
        @include ulFiltreMobile;
        li {
            @include liFiltreMobile;
            select,
            input {
                @include inputFiltreMobile;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    ul {
        padding-left: 2vh;
        li {
            margin: 0 1.5vh;
            select,
            input {
                width: 19vh;
                font-size: 15px;
            }
        }
    }
}
