<form [formGroup]="formFilter" (ngSubmit)="sendSearch()">
    <ul>
        <li>
            <select formControlName="entites" id="entites">
                <option value="">Entités</option>
                <option value="association">Association</option>
                <option value="benevole">Bénévole</option>
                <option value="personne âgée">Personne âgée</option>
            </select>
        </li>
        <li>
            <select formControlName="typeService" id="typeService">
                <option ngValue="">Type de service</option>
                <option value="location">Location</option>
                <option value="assistance">Assistance à la personne</option>
                <option value="menage">Ménage</option>
                <option value="aide">Aide</option>
                <option value="autre">Autre</option>
            </select>
        </li>
        <li>
            <select formControlName="localisation" id="distance">
                <option ngValue="">Ville</option>
                <option *ngFor="let opt of localisationList" [value]="opt" [selected]="opt.selected == true">{{opt}}
                </option>
            </select>
        </li>
        <li>
            <input type="date" id="start" formControlName="date" value="2021-09-06">
        </li>
        <li class="search">
            <button class="search btnSearch" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </li>
    </ul>
</form>