<ul>
    <li>
        <select name="entites" id="entites">
            <option value="">Entités</option>
            <option value="association">Association</option>
            <option value="personnes">Personnes</option>
            <option value="autre">Autre</option>
        </select>
    </li>
    <li>
        <select name="typeService" id="typeService">
            <option value="">Type de service</option>
        </select>
    </li>
    <li>
        <select name="distance" id="distance">
            <option value="">Distance</option>
        </select>
    </li>
    <li>
        <input type="date" id="start" name="date" value="2021-09-06">
    </li>
</ul>