@import "../../../variables.scss";
.formSearchAff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btnSearchMobile {
        display: none !important;
    }
    .affichage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2vh;
        width: 10vh;
        cursor: pointer;
        .mat-icon {
            width: auto;
            height: auto;
            padding: 0.5vh;
            font-size: 25px;
            color: black !important;
            font-weight: normal;
            border: 1px solid black;
            vertical-align: middle;
            transition: all 0.5s ease-in-out;
            &:hover {
                border: 1px solid $color-primary;
                background-color: $color-primary;
                color: white;
            }
        }
        .iconList {
            border-radius: 0.5vh 0 0 0.5vh;
        }
        .iconBlock {
            border-radius: 0 0.5vh 0.5vh 0;
        }
    }
}
.filterForm {
    width: 80vw;
    .filterUl {
        @include ulFiltrePC;
        .formFilterli {
            @include liFiltrePC;
            .filterInput {
                width: 18vw;
            }
        }
        .search {
            border: none;
            @include liFiltrePC;
            .btnSearch {
                color: black;
                display: flex;
                justify-content: center;
                margin-bottom: 2vh;
                border: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .formSearchAff {
        height: 65vh;
        justify-content: center;
        .affichage {
            display: none;
        }
    }
    .filterForm {
        width: 85vw;
        .filterUl {
            @include ulFiltreMobile;
            .formFilterli {
                @include liFiltreMobile;
                .filterInput {
                    width: 85vw;
                }
            }
            .search {
                @include liFiltreMobile;
                .btnSearchMobile {
                    display: flex !important;
                    font-family: "Overlock", arial;
                    font-size: 20px;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    color: $color-material-angular-input;
                    border: none;
                }
                .btnSearchPC {
                    display: none !important;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .formSearchAff {
        height: 26vh;
    }
    .filterForm {
        width: 85vw;
        .filterUl {
            height: inherit;
            padding-left: 2vh;
            flex-wrap: wrap;
            margin: 0;
            .formFilterli {
                margin: 0 1.5vh;
                .filterInput{
                    width: 34vw;
                }
            }
        }
    }
    .affichage {
        width: 20%;
        height: 20vh;
        justify-content: flex-end;
        padding-right: 2vh;
    }
}
