<div class="allProfilUpdate">
    <section class="part1">
        <h2 class="titleProfil">Vos informations</h2>
        <form [formGroup]="userForm" *ngIf="user!==null" class="profilForm">

            <div class="field">
                <mat-form-field appearance="fill" class="inputProfil">
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" formControlName="lastname" required>
                </mat-form-field>
                <mat-error *ngIf="userForm.status === 'INVALID' && userForm.controls.lastname.touched===true">
                    {{getErrorMessageNom()}}</mat-error>
            </div>

            <div class="field" *ngIf="user.type !== 'ASSOCIATION'">
                <mat-form-field appearance="fill" class="inputProfil">
                    <mat-label>Prenom</mat-label>
                    <input matInput type="text" placeholder="Entrez votre prenom" formControlName="firstname">
                </mat-form-field>
                <mat-error *ngIf="userForm.status === 'INVALID' && userForm.controls.firstname.touched===true">
                    {{getErrorMessagePrenom()}}</mat-error>
            </div>

            <div class="field">
                <mat-form-field appearance="fill" class="inputProfil">
                    <mat-label>Adresse mail</mat-label>
                    <input matInput type="text" placeholder="adresseMail@mail.com" formControlName="email" required>
                </mat-form-field>
                <mat-error *ngIf="userForm.status === 'INVALID' && userForm.controls.email.touched">
                    {{getErrorMessageEmail()}}</mat-error>
            </div>

            <div class="field">
                <mat-form-field appearance="fill" class="inputProfil">
                    <mat-label>Adresse postale</mat-label>
                    <input matInput type="text" formControlName="address" required>
                </mat-form-field>
                <mat-error *ngIf="userForm.status === 'INVALID' && userForm.controls.address.touched">
                    {{getErrorMessageAdresse()}}</mat-error>
            </div>
            <div class="field">
                <mat-form-field appearance="fill" class="inputProfil">
                    <mat-label>Code postal</mat-label>
                    <input matInput type="number" formControlName="zipCode" required>
                </mat-form-field>
                <mat-error *ngIf="userForm.status === 'INVALID' && userForm.controls.zipCode.touched">
                    {{getErrorMessageZipCode()}}</mat-error>
            </div>
            <div class="field">
                <mat-form-field appearance="fill" class="inputProfil">
                    <mat-label>Ville</mat-label>
                    <input matInput type="text" formControlName="city" required>
                </mat-form-field>
                <mat-error *ngIf="userForm.status === 'INVALID' && userForm.controls.city.touched">
                    {{getErrorMessageVille()}}</mat-error>
            </div>

            <div class="field">
                <mat-form-field appearance="fill" class="inputProfil">
                    <mat-label>Telephone</mat-label>
                    <input type="tel" formControlName="telephone" matInput placeholder="0608921475">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="userForm.status === 'INVALID' && userForm.controls.telephone.touched">
                        {{getErrorMessagePhone()}}</mat-error>
                </mat-form-field>
            </div>
            
            <div class="field">
                <app-file-upload [fileControl]="userForm" (sendFile)="getFile($event)"></app-file-upload>
            </div>

            <p class="myError">{{error}}</p>

            <div class="subscriptionBtn">
                <button type="submit" (click)="subscribe()">Sauvegarder</button>
                <span class="bottom"></span>
                <span class="right"></span>
                <span class="top"></span>
                <span class="left"></span>
            </div>

        </form>
    </section>

    <section *ngIf="user.type==='ASSOCIATION'" class="part2">
        <h2 class="titleProfil">Liste des bénévoles</h2>
        <div class="assosForm">
            <mat-list class="listeBenevoles">
                <mat-list-item *ngFor="let benevole of membres" class="infoAndCross">
                    <div class="infoBenevole">
                        <p matLine class="nameBenevole"><i class="fas fa-minus"></i> {{benevole.firstname}}
                            {{benevole.lastname}} </p>
                        <p matLine class="mail">
                            <a href="mailto:{{benevole.email}}">{{benevole.email}}</a>
                        </p>
                    </div>
                    <i class="fas fa-times deleteBenevole" (click)="deleteBenevoleInAssos(benevole.id)"></i>
                </mat-list-item>
            </mat-list>
            <form [formGroup]="benevoleForm" class="benevoleForm">
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Ajouter un bénévole</mat-label>
                    <mat-select formControlName="id" required>
                        <mat-option *ngFor="let benevole of benevoles" [value]="benevole.id">
                            {{benevole.firstname}} {{benevole.lastname}} {{benevole.email}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="subscriptionBtn btnBenevole">
                    <button type="submit" (click)="addBenevole()">Ajouter</button>
                    <span class="bottom"></span>
                    <span class="right"></span>
                    <span class="top"></span>
                    <span class="left"></span>
                </div>
            </form>
        </div>
    </section>
</div>