@import "../../../variables.scss";

.allProfilUpdate {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.part1 {
    margin-right: 3em;
}
.part2 {
    margin-left: 3em;
}
.titleProfil {
    text-align: center;
    @include titleH1;
    margin-bottom: 0.8em;
}
.profilForm,
.benevoleForm,
.assosForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    .field {
        width: 25vw;
        .inputProfil {
            width: 25vw;
        }
    }
}
.subscriptionBtn {
    position: relative;
    width: 15em;
    height: 3em;
    margin: 1em 0;
    button {
        width: 100%;
        height: inherit;
        color: black;
        font-size: inherit;
        font-family: inherit;
        background-color: #90d6ce;
        padding: 0.35em 0.45em;
        border: 1px solid transparent;
        transition: background-color 0.3s ease-in-out;
        font-size: 20px;
        font-weight: bold;
    }
    button:focus {
        outline: none;
    }
    button::placeholder {
        color: hsla(0, 0%, 100%, 0.6);
    }
    span {
        position: absolute;
        background-color: #000;
        transform-origin: center;
        transition: transform 0.5s ease;
    }
    .bottom,
    .top {
        height: 1px;
        left: 0;
        right: 0;
        transform: scaleX(0);
    }
    .left,
    .right {
        width: 1px;
        top: 0;
        bottom: 0;
        transform: scaleY(0);
    }
    .top {
        top: 0;
    }
    .bottom {
        bottom: 0;
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
    }
    button:focus ~ .top,
    button:focus ~ .bottom {
        transform: scaleX(1);
    }
    button:focus ~ .left,
    button:focus ~ .right {
        transform: scaleY(1);
    }
}
.listeBenevoles {
    width: 25vw;
    font-size: 20px;
    padding: 1em;
    margin-bottom: 2em;
    .nameBenevole {
        font-weight: bold;
    }
    i {
        font-size: 12px;
    }
    .mail {
        margin-left: 0.6em;
    }
}
.infoAndCross {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .deleteBenevole {
        font-size: 25px;
        color: black;
        transition: all 900ms ease-in-out;
        &:hover {
            color: red;
            transform: rotateZ(360deg);
        }
    }
}

@media screen and (max-width: 767px) {
    .allProfilUpdate {
        display: flex;
        flex-direction: column;
    }
    .titleProfil {
        margin-bottom: 5vh;
        margin-top: 0;
        font-size: 40px;
    }
    .part1 {
        margin-right: 0;
    }
    .part2 {
        margin-top: 3em;
        margin-left: 0;
    }
    .profilForm,
    .benevoleForm,
    .assosForm {
        .field {
            width: 85vw;
            .inputProfil {
                width: 85vw;
            }
        }
    }
    .listeBenevoles {
        width: 85vw;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .titleProfil {
        font-size: 40px;
        margin-bottom: 7vh;
    }
    .profilForm,
    .benevoleForm,
    .assosForm {
        .field {
            width: 30vw;
            .inputProfil {
                width: 30vw;
            }
        }
    }
    .listeBenevoles {
        width: 40vw;
        font-size: 18px;
    }
}
