<div class="Details" *ngIf="annonce">
    <div class="premierePartie">
        <div class="text-presentation">
            <h1 class="titleH1">{{annonce.title}}</h1>
        </div>
        <img src="{{annonce.picture}}" alt="image de l'annonce" class="img-list-detail ">
    </div>

    <div class="deuxiemePartie">
        <p class="description-text">{{annonce.description}}</p>

        <div class="detailsAndBtn">
            <div class="allDetails">
                <p><span>Lieu :</span> {{annonce.location}}</p>
                <p><span>Date :</span> {{annonce.date | date:'d/MM/y'}}</p>
                <p><span>Service demandé :</span> {{annonce.type}}</p>
                <p><span>Par : </span> {{annonce.user.lastname}} {{annonce.user.firstname}}</p>
            </div>
            <div class="Flex-end myButton">
                <button class="btn-contact" *ngIf="showContact === 'yes'" (click)="afficherNumero()" aria-label="Voir fiche de contact">Nous contacter</button>
            </div>
        </div>
    </div>

    <app-contact class="componentContact" [user]='annonce.user' [annonce]='annonce.title' [@openClose]="show ? true: false" (sendCloseWindow)="closeWindow($event)"></app-contact>

</div>