@import "../../variables.scss";

.Details {
    width: 55vw;
    min-height: 80vh;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
}
.premierePartie {
    margin: 1em 0;
    display: flex;
    h1 {
        margin-bottom: 5vh;
        width: 30vw;
        font-size: 35px;
        font-weight: bold;
        height: 30vh;
    }
    .img-list-detail {
        width: 25vw;
        height: 30vh;
    }
}
.deuxiemePartie {
    display: flex;
    .description-text {
        line-height: 1.2;
        font-size: 20px;
        margin: 1em 1em 1em 0;
        width: 60vw;
    }
    .detailsAndBtn {
        width: 30vw;
        margin: 1em;
    }
}
.allDetails {
    min-height: 25vh;
    line-height: 1.5;
    span {
        font-weight: bold;
        font-size: 18px;
    }
}
.Flex-end {
    display: flex;
    justify-content: end;
    button {
        z-index: 1;
        position: relative;
        font-size: inherit;
        font-family: inherit;
        color: white;
        padding: 0.5em 1em;
        outline: none;
        border: none;
        background-color: $color-secondary;
        overflow: hidden;
        transition: color 0.4s ease-in-out;
    }
    button::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 100%;
        right: 100%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: $color-primary;
        transform-origin: center;
        transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.45s ease-in-out;
    }
    button:hover {
        cursor: pointer;
        color: #161616;
    }
    button:hover::before {
        transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
    }
}

.componentContact{
    display: none;
    height: 40vh;
    width: 40vw;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    background-color: #90d6cead;
    filter: drop-shadow(0 0 0.75rem rgba(238, 236, 236));
    border-radius: 1em;
}

@media screen and (max-width: 767px) {
    .Details{
        width: 100vw;
        padding: 1em;
        margin: 0 auto;
    }
    .premierePartie {
        flex-direction: column-reverse;
        h1 {
            width: 90vw;
            font-size: 20px;
            height: inherit;
            margin-bottom: 0;
            text-align: center;
        }
        .img-list-detail {
            width: 90vw;
            margin-bottom: 1em;
        }
    }
    .deuxiemePartie {
        flex-direction: column;
        .description-text {
            width: 90vw;
            font-size: 18px;
        }
        .detailsAndBtn {
            width: 90vw;
            margin: 0em;
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .Details{
        width: 80vw;
        padding: 1em;
        margin: 0 auto;
    }
    .premierePartie {
        h1 {
            width: 35vw;
            font-size: 25px;
            margin-bottom: 0;
        }
        .img-list-detail {
            width: 40vw;
            margin-bottom: 1em;
        }
    }
    .deuxiemePartie {
        flex-direction: column;
        .description-text {
            width:75vw;
            font-size: 20px;
        }
        .detailsAndBtn {
            width: 75vw;
            margin: 0em;
            font-size: 20px;
        }
    }
}