<div class="nav-container">
    <div class="bloc1">
        <a routerLink="/"><img src="../../assets/logo2.png" alt="logo_site"></a>
        <ul>
            <li><a routerLink="accueil" routerLinkActive="active" class="hover_animation" aria-label="Accueil">Accueil</a></li>
            <li><a routerLink="annonces" routerLinkActive="active" class="hover_animation" aria-label="Liste des annonces">Annonces</a></li>
            <li><a routerLink="association" routerLinkActive="active" class="hover_animation" aria-label="Liste des associations">Associations</a></li>
        </ul>
    </div>
    <div *ngIf="!isUserLoggedIn">
        <ul class="auth">
            <li><a routerLink="/login" aria-label="Connexion">Connexion</a></li>
            <li><a routerLink="inscription" aria-label="Inscription">Inscription</a></li>
        </ul>
    </div>
    <div *ngIf="isUserLoggedIn">
        <ul class="connect">
            <li class="deroulant">
                <mat-icon class="iconPerson">person</mat-icon>
                <ul class="sous">
                    <li><a routerLink="profil" aria-label="Profil">Profil</a></li>
                    <li><a routerLink="annonces/add" aria-label="Poster">Poster</a></li>
                    <li><a routerLink="messages" aria-label="Poster">Messagerie</a></li>
                    <li><a routerLink="" (click)="deconnexion()" aria-label="Déconnexion">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
        <ul class="connectMobile">
            <li class="deroulant">
                <mat-icon class="iconPerson">person</mat-icon>
                <ul class="sous">
                    <li><a routerLink="accueil" aria-label="Accueil">Accueil</a></li>
                    <li><a routerLink="profil" aria-label="Profil">Profil</a></li>
                    <li><a routerLink="annonces/add" aria-label="Poster">Poster</a></li>
                    <li><a routerLink="messages" aria-label="Poster">Messagerie</a></li>
                    <li><a routerLink="annonces" aria-label="Liste des annonces">Annonces</a></li>
                    <li><a routerLink="association" aria-label="Liste des associations">Associations</a></li>
                    <li><a routerLink="" (click)="deconnexion()" aria-label="Déconnexion">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
