@import "../../variables.scss";

.nav-container {
    display: flex;
    width: 100%;
    background-color: #90d6cead;
    height: 10vh;
    font-size: x-large;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 100;
    .bloc1 {
        display: flex;
        align-items: center;
        margin-left: 1em;
        ul {
            flex-direction: row;
            display: flex;
            height: inherit;
            list-style-type: none;
            text-decoration: none;
            align-items: center;
        }
        img {
            width: 70px;
        }
        li {
            margin-left: 1em;
            position: relative;
            align-items: center;
            height: 30px;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
    .auth {
        padding: 0.4em;
        margin-right: 1em;
        display: flex;
        li {
            margin: 0 1vh;
        }
    }
}

//Animation menu après la connexion
.iconPerson {
    border: 2.3px solid black;
    border-radius: 10vh;
    width: auto;
    height: auto;
    padding: 0.5vh;
    font-size: 30px;
    vertical-align: middle;
    margin-right: 1em;
    transition: 0.3s all 0.3s;
}
.connectMobile {
    display: none;
}
.connect,
.connect ul,
.connectMobile,
.connectMobile ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.connect li,
.connectMobile li {
    display: inline-block;
    position: relative;
}
.connect ul li,
.connectMobile ul li {
    display: inherit;
    border-radius: 0;
    &:hover {
        border-radius: 0;
    }
    &:last-child {
        border-radius: 0 0 8px 8px;
    }
}
.connect ul,
.connectMobile ul {
    position: absolute;
    width: auto;
    z-index: 1000;
    max-height: 0;
    right: 0;
    overflow: hidden;
    margin-top: 2vh;
    -moz-transition: 0.8s all 0.3s;
    -webkit-transition: 0.8s all 0.3s;
    transition: 0.8s all 0.3s;
}
.connect li:hover ul,
.connectMobile li:hover ul {
    max-height: 15em;
}
.connect li:first-child,
.connectMobile li:first-child {
    .iconPerson:hover {
        background-color: #cac5c5;
        border: 2.3px solid white;
        color: white;
    }
    li {
        background: #AFDDD8;
    }
}
.connect li:first-child:hover,
.connect li:first-child li:hover,
.connectMobile li:first-child:hover,
.connectMobile li:first-child li:hover {
    .iconPerson {
        background-color: #cac5c5;
        border: 2.3px solid white;
        color: white;
    }
}
.connect a,
.connectMobile a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    padding: 1.5vh 2vh;
    &:hover {
        background: rgb(238, 236, 236);
    }
}
.connect li:hover li a,
.connectMobile li:hover li a {
    color: #fff;
    text-transform: inherit;
}
.connect li:hover a,
.connect li li:hover a,
.connectMobile li:hover a,
.connectMobile li li:hover a {
    color: #000;
}
//FIN animation menu après la connexion

@media screen and (max-width: 767px) {
    .nav-container {
        .bloc1 {
            ul {
                display: none;
            }
        }
        .auth {
            margin-right: 0vh;
            li {
                font-size: 18px;
                margin: 0 0.5vh;
            }
        }
    }
    .connect {
        display: none;
    }
    .connectMobile {
        display: flex;
        ul {
            width: 100vw;
            margin-top: 1.6vh;
            font-size: 20px;
            background-color: #90d6cea2;
        }
    }
    .sous li a{
        color: black!important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-container {
        .bloc1 {
            ul {
                display: none;
            }
        }
    }
    .connect {
        display: none;
    }
    .connectMobile {
        display: flex;
        ul {
            margin-top: 1.6vh;
        }
    }
}
