<div class="qui">
    <h1>Qui sommes nous ?</h1>

    <div class="explications">
        <h2>Qu'est-ce-que Âge d'Or ?</h2>
        <p>Âge d'Or est un site numérique créé et porté par un groupe d'étudiants de M2i Formation et qui
            référence
            les offres des associations et des particuliers.</p>
        <p>Ce site a été mis en place dans le cadre du projet fil rouge de fin de formation. Nous sommes partis du
            constat
            que
            les personnes âgées étaient de plus en plus éloignées socialement et qu'elles ont besoin d'être aidé et
            entouré.
        </p>
        <p>Ce site se veut simple et facile d'utilisation. L'objectif étant de donner une solution aux personnes
            nécessitant
            une
            assistance. Pour les bénévoles, avoir les coordonnées d'une structure en charge de l'action est un gain de
            temps
            considérable et permet une meilleure prise en charge du public. Et enfin pour les associations, avoir des
            actions
            directes avec les bénévoles et les personnes âgées.</p>
    </div>
</div>