@import '../../../variables.scss';

.qui{
    @include structurePageFooter;
    margin-bottom: 1.5em;
}
.link{
    @include linkPageFooter;
    i{
        margin: 0 1vh;
    }
}

h1{
    @include titleH1;
}
.explications{
    h2{
        @include titleH2PageFooter
    }
    p{
        @include pPageFooter;
    }
}


@media screen and (max-width: 767px) {
    .qui{
        width: 90%;
    }
    h1{
        font-size: 34px;
    }
    .explications{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 18px;
            margin: 2vh 0;
        }
    }
}