<div class="field">
    <mat-form-field appearance="fill">
      <mat-label>Titre</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="title" required>
      <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div class="field">
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="type" required>
        <mat-error *ngIf="type.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
</div>
<div class="field">
      <mat-form-field appearance="fill">
        <mat-label>Ville</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="localisation" required>
        <mat-error *ngIf="localisation.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
</div>
<div class="field">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="description" required>
        <mat-error *ngIf="description.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
</div>