@import "../../variables.scss";

.newAnnonceForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  h1 {
    text-align: center;
    @include titleH1;
  }
  .field {
    width: 25vw;
    .inputAnnonce {
      width: 25vw;
    }
  }
}
.loginBtn {
  position: relative;
  width: 15em;
  height: 3em;
  margin: 3em 0;
  button {
    width: 100%;
    height: inherit;
    color: black;
    font-size: inherit;
    font-family: inherit;
    background-color: #90d6ce;
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
    font-size: 20px;
    font-weight: bold;
  }
  button:focus {
    outline: none;
  }
  button::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
  }
  span {
    position: absolute;
    background-color: #000;
    transform-origin: center;
    transition: transform 0.5s ease;
  }
  .bottom,
  .top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
  }
  .left,
  .right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  button:focus ~ .top,
  button:focus ~ .bottom {
    transform: scaleX(1);
  }
  button:focus ~ .left,
  button:focus ~ .right {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 767px) {
  .newAnnonceForm {
    h1 {
      font-size: 40px;
      margin-bottom: 5vh;
    }
    .field {
      width: 85vw;
      .inputAnnonce {
        width: 85vw;
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .newAnnonceForm {
    h1 {
      font-size: 40px;
      margin-bottom: 7vh;
    }
    .field {
      width: 50vw;
      .inputAnnonce {
        width: 50vw;
      }
    }
  }
}