<form [formGroup]="annonceForm" (ngSubmit)="addAnnonce()" class="newAnnonceForm">
    <h1>Créer une annonce</h1>
    <div class="field">
        <mat-form-field appearance="fill" class="inputAnnonce">
            <mat-label>Titre</mat-label>
            <input matInput placeholder="Titre de l'annonce" formControlName="title" required>
            <!-- <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field appearance="fill" class="inputAnnonce">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type" required>
                <mat-option *ngFor="let type of typesAnnonce" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field appearance="fill" class="inputAnnonce">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field appearance="fill" class="inputAnnonce">
            <mat-label>Ville</mat-label>
            <input matInput placeholder="Lieu" formControlName="location" required>
        </mat-form-field>
    </div>
    <div class="field">
        <mat-form-field appearance="fill" class="inputAnnonce">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" placeholder="Décrivez votre annonce"
                formControlName="description" required></textarea>
        </mat-form-field>
    </div>
    <app-file-upload [fileControl]="annonceForm" (sendFile)="getFile($event)"></app-file-upload>
    <div class="loginBtn">
        <button type="submit" aria-label="Poster une annonce">Créer</button>
        <span class="bottom"></span>
        <span class="right"></span>
        <span class="top"></span>
        <span class="left"></span>
    </div>
</form>