<div class="mentions">
    <h1>Mentions légales</h1>


    <div class="explications">
        <p>Siège Social : 59000 Lille</p>
        <ul>
            <li>N°: <a routerLink="tel:0972723949"> 0972723949 </a></li>
            <li>Adresse mail: <a routerLink="mailto:agedor@gmail.com"> agedor@gmail.com </a></li>
            <li>Directeur de publication: Thomas Heddadji</li>
            <li>Forme juridique: SARL</li>
            <li>Capital: 2000€</li>
            <li>RCS de Lille n°793760299 - représentée par M Thomas Heddadji, gérant.</li>
            <li>TVA : FR79468500265</li>
            <li>Carte professionnelle n°GS99 et T960752</li>
        </ul>
        <div>
            <p>Droit des auteurs</p>
            <p>Toutes les illustrations sont la propriété de l'Âge d'Or sauf indication contraire, et sont protégées
                contre toute forme d'utilisation.</p>
        </div>
        <div>
            <p>Protection de la vie privée</p>
            <p>Vous pouvez à tout moment exercer votre droit d'accès et de rectification des données personnelles vous
                concernant par simple e-mail adressé <a routerLink="mailto:agedor@gmail.com"> agedor@gmail.com </a>.
                Vous trouverez les détails sur la façon d'exercer vos droits sur le site de la CNIL : <a
                    routerLink="mailto:www.cnil.fr"> www.cnil.fr </a></p>
        </div>
        <div>
            <p>L'équipe de développement</p>
            <ul>
                <li>Thomas Heddadji : Chef de projet</li>
                <li>Guillaume Dubois </li>
                <li>Héloïse Almoyner </li>
            </ul>
        </div>
    </div>

</div>