<mat-form-field appearance="fill" id="date" [formGroup]="form" class="filterInput">
    <mat-label>Entrer une plage de dates</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Date de début" formControlName="start">
        <input matEndDate placeholder="Date de fin" formControlName="end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>