<div class="ficheContact">
    <div class="blockCross">
        <i class="far fa-times-circle crossContact" (click)="closeWindow()"></i>
    </div>
    <div class="informationsAndPicture">
        <div class="informations">
            <p class="name">{{user.lastname}} <span *ngIf="user.firstname !== null">{{user.firstname}} - {{user.type |
                    lowercase}}</span></p>
            <a href="tel:{{user.telephone}}">{{user.telephone}} </a>
            <a href="mailto:{{user.email}}">{{user.email}} </a>
            <p>{{user.address}} {{user.zipCode}} {{user.city}} </p>

            <div class="chat">
                <button class="btn-contact chatter" aria-label="Envoyer message" (click)="writeMsg()"><i class="far fa-envelope"></i> Envoyer
                    message</button>
            </div>
        </div>
        <img src="{{user.picture}}" alt="image du créateur de l'annonce" class="imgContact">
    </div>
</div>