@import "../../../variables.scss";

.ficheContact{
    width: 40vw;
}
.blockCross{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    padding: 0.3em 0.1em 0 0;
    .crossContact{
        transition: transform 0.8s ease-in-out;
        &:hover{
            transform: rotateZ(360deg);
        }
    }
}
.informationsAndPicture{
    display: flex;
    font-size: 18px;
    text-align: center;
    padding: 0.2em;
    justify-content: space-around;
    .informations{
        display: flex;
        flex-direction: column;
    }
    .name{
        margin-bottom: 0.5em;
        font-weight: bold;
        font-size: 22px;
    }
    p, a {
        margin: 0.5em 0;
    }
}
.imgContact{
    max-width: 20vw;
    max-height: 30vh;
}
.chatter{
    font-size: 16px;
    font-weight: bold;
    padding: 0.4em;
    margin: 1em;
}
button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: $color-secondary;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}
button::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $color-primary;
    transform-origin: center;
    transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}
button:hover {
    cursor: pointer;
    color: #161616;
}
button:hover::before {
    transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}