.totalMessage {
    width: 98vw;
    height: 79vh;
    margin: auto;
    display: flex;
}

.listeMessages {
    width: 30vw;
    height: 77vh;
    border: 3px solid rgba(164, 136, 160, 0.27);
    overflow: scroll;
}

.detailMessage {
    width: 68vw;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.errMsg {
    font-size: 35px;
    height: 77vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btnWriteNewMsg {
    width: 100%;
    height: 3em;
    margin: 3em 0 1em 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    button {
        width: 10em;
        height: inherit;
        color: black;
        font-size: inherit;
        font-family: inherit;
        background-color: #90d6ce;
        padding: 0.35em 0.45em;
        border: 1px solid transparent;
        transition: background-color 0.3s ease-in-out;
        font-size: 20px;
        font-weight: bold;
        &:hover{
            background-color: hsl(236, 29%, 35%);
            color: white;
        }
    }
}

@media screen and (max-width: 767px) {
    .totalMessage {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }
    .listeMessages {
        width: 98vw;
        height: 25vh;
        border: 3px solid rgba(164, 136, 160, 0.27);
        overflow: scroll;
        margin-bottom: 2em;
    }

    .detailMessage {
        width: 98vw;
        height: auto;
        display: flex;
    }

    .messageFormulaire, .msgDetails, .errMsg{
        height: auto;
    }
    .errMsg{
        font-size: 25px;
    }
    .btnWriteNewMsg {
        margin: 1em 0 1em 0;
    }
}

.test{
    background-color: red !important;
}
