<div class="totalMessage">
    <div class="listeMessages">
        <app-message-card (click)="vert($event, i)" [couleur]="i===id ? true : false" (sendMsg)="getTargetMsg($event)" [message]="message" *ngFor="let message of messages; let i = index"
            [style.background-color]="color" (sendIdMsg)="getIdMsgForDelete($event)"></app-message-card>

        <div class="btnWriteNewMsg" (click)="writeNewMsg()">
            <button type="submit" aria-label="Ecrire un nouveau message">Nouveau message</button>
        </div>
    </div>
    <div class="detailMessage">
        <app-message-info *ngIf="message && !writeMsg" [message]="message" (reponse)="getReponse($event)" class="msgDetails"></app-message-info>
        <div *ngIf="!message && !writeMsg" class="errMsg">
            <p>Vous avez {{nbMessage}} messages.</p>
            <p>Veuillez cliquer sur l'un d'entre eux <br> dans l'encadré à gauche pour voir <br> plus de détails.</p>
        </div>
        <app-message-form class="messageFormulaire" *ngIf="writeMsg" (sendNewMessage)="newMessageAdd($event)" [reponse]="reponse"></app-message-form>
    </div>
</div>