<div class="headlines">
    <div class="filterAndAffichage">
        <form class="filterAssociation">
            <ul>
                <li class="formFilterli">
                    <app-filter-city [type]="type" (sendFilterCity)="getFilterCityInAsso($event)"></app-filter-city>
                </li>
            </ul>
            <button mat-fab class="btnSearchAssociation" aria-label="Rechercher" (click)="filtrerAssociation()">
                <mat-icon>search</mat-icon>
            </button>
        </form>
        <div>
            <mat-icon class="iconList" (click)="affichageChange('')" aria-label="Liste">list</mat-icon>
            <mat-icon class="iconBlock" (click)="affichageChange('block')" aria-label="Bloc">view_module</mat-icon>
        </div>
    </div>
    <h1>Toutes les associations</h1>
</div>

<section class="allAsso" [ngStyle]="affichage === 'block' ? {'display':'flex', 'justify-content': 'space-around', 'flex-wrap': 'wrap'} : {} ">
    <app-association-card [affichage]="affichage" [association]="association" *ngFor="let association of associations">
    </app-association-card>
</section>