@import "../../variables.scss";

.headlines {
    h1 {
        @include titleH1;
        margin: 1vh 7vh 6vh 7vh;
    }
    .iconList,
    .iconBlock {
        width: auto;
        height: auto;
        padding: 0.5vh;
        font-size: 25px;
        color: black;
        font-weight: normal;
        border: 1px solid black;
        vertical-align: middle;
        transition: all 0.5s ease-in-out;
        &:hover {
            border: 1px solid $color-primary;
            background-color: $color-primary;
            color: white;
        }
    }
    .iconList {
        border-radius: 0.5vh 0 0 0.5vh;
    }
    .iconBlock {
        border-radius: 0 0.5vh 0.5vh 0;
    }
}
.filterAndAffichage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vh;
    margin: 1vh 0;
    .filterAssociation {
        display: flex;
        margin-left: 3vh;
        list-style-type: none;
    }
}
.btnSearchAssociation {
    @include liFiltrePC;
    color: black !important;
    display: flex;
    justify-content: center;
    margin: 0 2vh 2vh 2vh;
    border: none;
    background-color: transparent;
}
.allAsso {
    min-height: 52vh;
}

@media screen and (max-width: 767px) {
    .headlines {
        h1 {
            font-size: 40px;
            text-align: center;
        }
        .iconList,
        .iconBlock {
            display: none;
        }
    }
    .filterAndAffichage {
        .filterAssociation {
            width: 100%;
            margin-left: 0;
            justify-content: center;
        }
    }
}
