<div class="fileUploadImg">
  <div [formGroup]="fileControl">
    <img *ngIf="url !== undefined" [src]="url" height="200" [alt]="alt" class="imgMiniature">
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload
      aria-label="Ajouter un fichier">
  </div>
  <div class="file-upload">

    {{fileName || "Sélectionnez une photo"}}

    <button mat-mini-fab color="primary" type="button" class="upload-btn" (click)="fileUpload.click()"
      aria-label="Ajouter un fichier">
      <mat-icon class="icon">attach_file</mat-icon>
    </button>
  </div>
</div>