@import "../../../variables.scss";

.fileUploadImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.imgMiniature {
  max-width: 100%;
}
.file-input {
  display: none;
}
p {
  padding: 100px;
}
.upload-btn {
  background-color: $color-primary;
  .icon {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
}
