@import "../../../variables.scss";

.annonce {
    filter: drop-shadow(0 0 0.75rem lightgrey);
    background-color: rgb(238, 236, 236);
    width: 80vh;
    height: 43.5vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    .divImg {
        width: 100%;
        height: 60vh;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    figure {
        width: 100%;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .explications {
        white-space: nowrap;
        overflow: hidden;
        .ellipsis {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 75vw;
        }
    }
    .myButton {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }
    button {
        position: relative;
        right: 10px;
    }
    button {
        z-index: 1;
        position: relative;
        font-size: inherit;
        font-family: inherit;
        color: white;
        padding: 0.5em 1em;
        outline: none;
        border: none;
        background-color: $color-secondary;
        overflow: hidden;
        transition: color 0.4s ease-in-out;
    }

    button::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 100%;
        right: 100%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: $color-primary;
        transform-origin: center;
        transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.45s ease-in-out;
    }

    button:hover {
        cursor: pointer;
        color: #161616;
    }

    button:hover::before {
        transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
    }
}

@media screen and (max-width: 375px) {
    .annonce {
        width: 90%;
        height: 18em;
        flex-direction: column;
        .divImg {
            height: 30vh;
        }
        figure {
            padding: 0;
        }
        .explications {
            margin: 2vh;
            height: 4em;
            white-space: nowrap;
            overflow: hidden;
            .ellipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 75vw;
            }
        }
        .myButton {
            justify-content: flex-start;
            padding-left: 2vh;
        }
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    .annonce {
        width: 90%;
        height: 19em;
        flex-direction: column;
        .divImg {
            height: 30vh;
        }
        figure {
            padding: 0;
        }
        .explications {
            margin: 2vh;
            height: 4em;
            white-space: nowrap;
            overflow: hidden;
            .ellipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 75vw;
            }
        }
        .myButton {
            justify-content: flex-start;
            padding-left: 2vh;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .annonce {
        width: 90%;
        height: 20em;
        flex-direction: column;
        .divImg {
            height: 32vh;
        }
        figure {
            padding: 0;
        }
        .explications {
            margin: 2vh;
            height: 4em;
            white-space: nowrap;
            overflow: hidden;
            .ellipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 75vw;
            }
        }
        .myButton {
            justify-content: flex-start;
            padding-left: 2vh;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .annonce {
        width: 70vh;
        height: 15.8em;
    }
}
