<figcaption class="annonce" 
[ngStyle]="affichage === 'block' ? {'width':'60vh', 'height': '36.5vh'} : {} ">
    <div class="divImg">
        <img src="{{annonce.picture}}" alt="image de l'annonce">
    </div>
    <figure>
        <div class="explications">
            <p class="ellipsis">{{annonce.title}}</p>
            <p>démandé par {{monType}}</p>
            <p>à {{annonce.location}}</p>
        </div>
    </figure>
    <div class="myButton">
        <button 
        (click)="redirectToAnnonce(annonce.id)" aria-label="Vers l'annonce">
        <div *ngIf="!textButton; else modif">Voir plus</div>
        <ng-template #modif>{{textButton}}</ng-template>
        </button>
    </div>
</figcaption>

<!-- annonces sous forme de liste ou de case -->