<form [formGroup]="messageForm" (ngSubmit)="addMessage()" class="newMessageForm">
    <div *ngIf="id == ''" class="objectMessage">
        <div class="field">
            <mat-form-field formGroupName="destinataire" appearance="fill" class="inputMessage">
                <mat-label>A destination de :</mat-label>
                <mat-select formControlName="id" required>
                    <mat-option *ngFor="let user of users" [value]="user.id">
                        {{user.firstname}} {{user.lastname}} ({{user.email}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field appearance="fill" class="inputMessage">
                <mat-label>Objet :</mat-label>
                <input matInput type="text" formControlName="objet">
            </mat-form-field>
        </div>
    </div>
    <div class="InputMessage">
        <div class="field">
            <mat-form-field appearance="fill" class="inputMessage textareaMessage">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Décrivez votre annonce" class="textateaMsg"
                    formControlName="content" required></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="messageBtn">
        <button type="submit" aria-label="Poster une annonce">Envoyer message</button>
    </div>
</form>