.newMessageForm {
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .field {
    width: 50vw;
    .inputMessage {
      width: 50vw;
    }
  }
  .textateaMsg {
    height: 25vh;
  }
  .messageBtn {
    button {
      width: 15em;
      height: inherit;
      color: black;
      font-size: inherit;
      font-family: inherit;
      background-color: #90d6ce;
      padding: 0.35em 0.45em;
      border: 1px solid transparent;
      transition: background-color 0.3s ease-in-out;
      font-size: 20px;
      font-weight: bold;
      &:hover {
        background-color: hsl(236, 29%, 35%);
        color: white;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .newMessageForm {
    height: auto;
    margin-bottom: 2em;
    .field {
      width: 70vw;
      .inputMessage {
        width: 70vw;
      }
    }
    .textateaMsg {
      height: 5vh;
    }
    .messageBtn {
      button {
        width: 10em;
        margin-top: 1em;
      }
    }
  }
}
