<mat-form-field appearance="fill" class="filterInput">
    <mat-label>Entités</mat-label>
    <mat-select [formControl]="entites" (selectionChange)="filterEntity($event)" multiple>
        <mat-option *ngFor="let entite of entitesList" [value]="entite">{{entite}}</mat-option>
    </mat-select>
</mat-form-field>