<div class="showMessage">
    <div class="informations">
        <p><span class="bold">Expéditeur :</span> {{message.expediteur.lastname}} {{message.expediteur.firstname}} ({{message.expediteur.email}})</p>
        <p><span class="bold"> Objet :</span> {{message.objet}}</p>
        <p ><span class="bold">Envoyé le :</span> {{message.createTime | date:'d/MM/y à HH:mm'}}</p>
    </div>
    <div class="content">
        <p class="bold">Message :</p> <p class="description">{{message.content}}</p>
    </div>
    <div class="repondreBtn">
        <button type="submit" (click)="sendResponse()" aria-label="Poster une annonce">Répondre</button>
        <span class="bottom"></span>
        <span class="right"></span>
        <span class="top"></span>
        <span class="left"></span>
    </div>
</div>