.showMessage {
    width: 50vw;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 22px;
    padding: 0.5em;
    .bold {
        font-weight: bold;
    }
    .title {
        font-weight: bold;
    }
    .informations {
        margin-bottom: 1.5em;
    }
    .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
        .bold {
            margin-bottom: 0.2em;
        }
        .description {
            line-height: 1.2;
        }
    }
    .repondreBtn {
        display: flex;
        justify-content: flex-end;
        button {
            width: 10em;
            height: inherit;
            color: black;
            font-size: inherit;
            font-family: inherit;
            background-color: #90d6ce;
            padding: 0.35em 0.45em;
            border: 1px solid transparent;
            transition: background-color 0.3s ease-in-out;
            font-size: 20px;
            font-weight: bold;
            &:hover{
                background-color: hsl(236, 29%, 35%);
                color: white;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .showMessage {
        width: 98vw;
        height: auto;
        font-size: 20px;
        padding: 0.5em;
    }
}