@import "../../variables.scss";

.authentificationForm {
  h1 {
    text-align: center;
    @include titleH1;
  }
  .authForm {
    @include formFormulaire;
    .field {
      width: 25vw;
      .authInput {
        @include inputFormulaire;
      }
    }
  }
  .myError {
    font-size: 22px;
    font-weight: bold;
    color: #f44336;
  }
  .loginBtn {
    @include btnFormulaire;
  }
  .linkInscription {
    text-decoration: underline;
  }
}

@media screen and (max-width: 767px) {
  .authentificationForm {
    h1 {
      font-size: 40px;
      margin-bottom: 1em;
    }
    .authForm {
      .field {
        width: 80vw;
        .authInput {
          width: 80vw;
        }
      }
    }
    .myError {
      font-size: 18px;
    }
    .loginBtn{
      margin: 1.5em 0em;
    }
    .nothingCompte{
      margin-bottom: 2em;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .authentificationForm {
    h1 {
      font-size: 40px;
      margin-bottom: 1em;
    }
    .authForm {
      .field {
        width: 60vw;
        .authInput {
          width: 60vw;
        }
      }
    }
    .myError {
      font-size: 18px;
    }
    .loginBtn{
      margin: 1.5em 0em;
    }
    .nothingCompte{
      margin-bottom: 2em;
    }
  }
}
