<section class="authentificationForm">
    <h1>Connexion</h1>
    <form [formGroup]="authForm" class="authForm">
        <div class="field">
            <mat-form-field appearance="fill" class="authInput">
                <mat-label>Entrer votre email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="authForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <div class="field">
            <mat-form-field appearance="fill" class="authInput">
                <mat-label>Entrer votre mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keydown.enter)="$event.preventDefault()">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"> 
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <p class="myError">{{error}}</p>

        <div class="loginBtn">
            <button type="submit" (click)="login()"  [disabled]="!authForm.valid">Se connecter</button>
            <span class="bottom"></span>
            <span class="right"></span>
            <span class="top"></span>
            <span class="left"></span>
        </div>
        <p class="nothingCompte">Pas de compte, vous pouvez vous inscrire <a routerLink="/inscription" class="linkInscription">ici</a></p>
    </form>
</section>