<div class="card-message" [ngClass]="{test: couleur}" (click)="messageLu()" >

<!-- VOir ngstyle pour mettre message en vert -->
    <img src="{{message.expediteur.picture}}" alt="image_expediteur">

    <div class="info">
        <p>Expediteur : {{message.expediteur.lastname}}</p>
        <p class="objet">Objet: {{message.objet}}</p>
        <p class="message">{{message.content}}</p>
    </div>

        <i class="fas fa-trash trash" (click)="deleteMessage()"></i>
    
</div>
