.card-message {
    display: flex;
    margin: 5px;
    background-color: #e1e6eb;
    border-radius: 4px;
    cursor: pointer;
}

.card-message:active {
    background-color: #9ee7dfad;
}

img {
    width: 85px;
    height: 75px;
    border-radius: 4px;
}

.info {
    width: 18vw;
    margin: auto;
}

.message {
    margin-top: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 1em;
    width: 18vw;
}

.objet {
    margin-top: 0.5em;
}

.trash {
    margin: auto;
}

.trash:hover {
    color: grey;
    transition: 0.7s;
}
@media screen and (max-width: 767px) {
    img {
        width: 65px;
        height: 55px;
    }
    .info {
        width: 52vw;
        font-size: 16px;
        margin: 0 1em;
        p{
        margin: 0.5em 0;
        }
    }
    .message {
        width: 52vw;
    }
}

.test{
    background-color: #90d6ce;
}
