@import '../../variables.scss';
h1{
    @include titleH1;
    margin: 8vh 7vh;
}
section{
    min-height: 52vh;
}

@media screen and (max-width: 767px) {
    h1{
        width: 90%;
        margin: 6vh auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1{
        margin: 6vh 4vh;
    }
}