<app-annonce-filter (sendFilter)="updateAnnonce($event)" (sendAffichage)="afficher($event)"></app-annonce-filter>

<h1 class="titlePageAnnonce">Toutes les annonces</h1>

<section
    [ngStyle]="affichage === 'block' ? {'display':'flex', 'justify-content': 'space-around', 'flex-wrap': 'wrap'} : {} "
    class="sectionPageAnnonce">
    <app-annonce-card [affichage]="affichage" [annonce]="annonce" *ngFor="let annonce of annonces"></app-annonce-card>
    <app-not-annonce *ngIf="annonces.length === 0"></app-not-annonce>
</section>