@import '../../variables.scss';
.titlePageAnnonce{
    @include titleH1;
    margin: 1vh 7vh 6vh 7vh;
}
.sectionPageAnnonce{
    min-height: 52vh;
}

@media screen and (max-width: 767px) {
    .titlePageAnnonce{
        width: 90%;
        margin: 6vh auto;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .titlePageAnnonce{
        margin: 6vh 4vh;
    }
}