.test{
    border-radius: 5px;
    background-color: transparent;
    margin: 0.5em ;
    width: 320px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .textDesc{
        width: 20em;
        height: 11em ;
        top: 0;
        margin-top: 7px;
        position: absolute;
        z-index: 2;
        color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &:hover{
            background-color: rgba(0,0,0, 0.6);
            color: #ffffff;
            transition: 0.6s ease-in-out ;
            animation-fill-mode: forwards;
        }
        
    }

    .title{
        font-weight: bold;
        font-size: 18px;
    }

    img{
        width: 100%;
        max-height: 11em;
        z-index: 1;

        &:hover {
            opacity: 1.5;
        }
    }


    .description{
        padding: 10px;
    }

    button {
        z-index: 1;
        position: relative;
        font-size: inherit;
        font-family: inherit;
        color: white;
        padding: 0.5em 1em;
        outline: none;
        border: none;
        background-color: hsl(236, 29%, 35%);
        overflow: hidden;
        transition: color 0.4s ease-in-out;
        margin-top: 1vh;
    }
    
    button::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 100%;
        right: 100%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: #90D6CE;
        transform-origin: center;
        transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.45s ease-in-out;
    }
    
    button:hover {
        cursor: pointer;
        color: #161616;
    }
    
    button:hover::before {
        transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
    }
}

