
<p-carousel [value]="annonces" [numVisible]="value" [numScroll]="value" aria-label="carousel d'annonces">
    <ng-template let-annonce let-car pTemplate="item" class="card-item-carrousel">
       <div class="myItem">
           <img src="{{annonce.picture}}" alt="">
           <div class="myItemHover">
               <p class="title">{{(annonce.title.length>40) ? (annonce.title | slice:0:40)+'...' : (annonce.title)}}</p>
               <p class="description">{{(annonce.description.length>80) ? (annonce.description | slice:0:80)+'...' : (annonce.description)}}</p>
           </div>

           <button (click)="redirectToAnnonce(annonce.id)" aria-label="Vers annonce">
                       
            Voir plus</button>
           
           <div class="car-buttons p-mt-5">
            
        </div>
           
       </div>
       
    </ng-template>
    
</p-carousel>