.p-carousel-content {
    width: 80%;
    margin: auto;
}
.myItem {
    border-radius: 5px;
    overflow: hidden;
    width: 22vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .myItemHover {
        width: 22vw;
        height: 10em;
        border-radius: 5px 5px 0 0;
        top: 0;
        position: absolute;
        z-index: 2;
        color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            color: #ffffff;
            transition: 0.6s ease-in-out;
            animation-fill-mode: forwards;
        }
    }
    .title {
        font-weight: bold;
        font-size: 18px;
    }

    img {
        width: 100%;
        height: 10em;
        z-index: 1;

        &:hover {
            opacity: 1.5;
        }
    }

    .description {
        overflow: hidden;
        padding: 10px;
        text-overflow: ellipsis;
    }

    button {
        z-index: 1;
        position: relative;
        font-size: inherit;
        font-family: inherit;
        color: white;
        padding: 0.5em 1em;
        outline: none;
        border: none;
        background-color: hsl(236, 29%, 35%);
        overflow: hidden;
        transition: color 0.4s ease-in-out;
        margin-top: 1vh;
    }

    button::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 100%;
        right: 100%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: #90d6ce;
        transform-origin: center;
        transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
        transition: transform 0.45s ease-in-out;
    }

    button:hover {
        cursor: pointer;
        color: #161616;
    }

    button:hover::before {
        transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
    }
}
.p-carousel .p-carousel-indicators .p-carousel-indicator button{
    background-color: darkgray;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #90d6ce;
}

@media screen and (max-width: 767px) {
    .p-carousel-content{
        width: 100%;
        position: relative;
    }
    .myItem{
        width: 69vw;
        height: 35vh;
        .myItemHover{
            width: 69vw;
            height: 26vh;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .p-carousel-content{
        width: 95%;
        position: relative;
    }
    .myItem{
        width: 40vw;
        height: 35vh;
        .myItemHover{
            width: 40vw;
            height: 26vh;
        }
    }
}
