<mat-form-field appearance="fill" class="filterInput">
    <mat-label>Villes</mat-label>
    <mat-select [formControl]="cities" (selectionChange)="filterCity($event)" multiple>
        <mat-option *ngFor="let city of cityList.sort()" [value]="city">{{city}}</mat-option>
    </mat-select>
</mat-form-field>