@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	color: black;
	text-decoration: none;
}
body{
    background-color: rgb(238, 236, 236);
}

.hover_animation{
	&::before, &::after {
		content: '';
		position: absolute;
		left: 50%;
		width: 100%;
		height: 2px;
		background-color: black;
		transform-origin: center;
		transform: translateX(-50%) scaleX(0);
		transition: transform 0.4s ease;
	  }
	  
	  &::before {
		top: 0;
	  }
	  
	  &::after {
		bottom: 0;
	  }
	  
	  &:hover::before, &:hover::after {
		transform: translateX(-50%) scaleX(1);
	  }
}
html{
	font-family: 'Overlock', cursive;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Overlock', "Helvetica Neue", sans-serif; }

//STYLE DES BOUTONS ANGULAR MATERIAL
.mat-form-field-flex {
    background-color: transparent !important;
}
.material-icons {
    font-size: 30px;
    font-weight: bold;
}
.mat-fab.mat-accent {
    background-color: transparent;
    border: none !important;
}
.mat-fab.mat-accent {
    background-color: transparent;
    box-shadow: none;
}
.mat-form-field {
    .mat-input-element {
        color: black;
    }
    .mat-form-field-label {
        color: black;
    }
    .mat-form-field-underline {
        background-color: black;
    }
    .mat-form-field-ripple {
        background-color: black;
    }
    .mat-form-field-required-marker {
        color: black;
    }
}

.mat-form-field.mat-focused {
    .mat-form-field-label {
        color: black;
    }
    .mat-form-field-ripple {
        background-color: #90d6ce;
    }
    .mat-form-field-required-marker {
        color: #90d6ce;
    }
    .mat-input-element {
        color: black;
    }
    &.mat-primary .mat-select-arrow {
        color: #90d6ce;
    }
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #719b96;
}
.mat-primary .mat-pseudo-checkbox-checked {
    background-color: #90d6ce;
}

.mat-calendar-body-selected {
    background-color: #90d6ce;
}
.mat-datepicker-toggle-active {
    color: #90d6ce;
}
.mat-calendar-body-in-range::before {
    background-color: #adebe375;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused
    .mat-calendar-body-active
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused
    .mat-calendar-body-active
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: #adebe375;
}
//FIN STYLE DES BOUTONS ANGULAR MATERIAL