@import url("https://fonts.googleapis.com/css2?family=Overlock&display=swap");
$color-primary: #90d6ce;
$color-secondary: hsl(236, 29%, 35%);
$color-material-angular-input: #686868;
$bcgcolorTransparent: transparent !important;

@mixin titleH1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 9vh;
}
//FORMULAIRE
@mixin formFormulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin inputFormulaire {
    width: 25vw;
    font-size: 18px;
	font-family: 'Overlock', cursive;
}
@mixin btnFormulaire {
    position: relative;
    width: 15em;
    height: 3em;
    margin: 3em 0 1em 0;
    cursor: pointer;
    button {
        width: 100%;
        height: inherit;
        color: black;
        font-size: inherit;
        font-family: inherit;
        background-color: #90d6ce;
        padding: 0.35em 0.45em;
        border: 1px solid transparent;
        transition: background-color 0.3s ease-in-out;
        font-size: 20px;
        font-weight: bold;
    }
    button:focus {
        outline: none;
    }
    button::placeholder {
        color: hsla(0, 0%, 100%, 0.6);
    }
    span {
        position: absolute;
        background-color: #000;
        transform-origin: center;
        transition: transform 0.5s ease;
    }
    .bottom,
    .top {
        height: 1px;
        left: 0;
        right: 0;
        transform: scaleX(0);
    }
    .left,
    .right {
        width: 1px;
        top: 0;
        bottom: 0;
        transform: scaleY(0);
    }
    .top {
        top: 0;
    }
    .bottom {
        bottom: 0;
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
    }
    button:focus ~ .top,
    button:focus ~ .bottom {
        transform: scaleX(1);
    }
    button:focus ~ .left,
    button:focus ~ .right {
        transform: scaleY(1);
    }
}
//FIN FORMULAIRE

//FILTRES
@mixin ulFiltrePC {
    display: flex;
    height: 40px;
    margin: 4vh 0;
    padding-left: 5vh;
    align-items: center;
}
@mixin liFiltrePC {
    margin: 0 2vh;
    display: flex;
    justify-content: center;
}
@mixin ulFiltreMobile {
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: auto;
    margin: 0.5vh 0;
    padding-left: 0vh;
    
}
@mixin liFiltreMobile {
    margin: 0;
    width: 90%;
    margin: auto;
}
//FIN FILTRES

//PAGES DU FOOTER
@mixin structurePageFooter {
    width: 60%;
    margin: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
}
@mixin linkPageFooter {
    display: flex;
    align-content: center;
    margin: 5vh 0;
}
@mixin titleH2PageFooter {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5vh;
}
@mixin pPageFooter {
    font-size: 22px;
    margin: 3vh 0;
}
//FIN FOOTER

// @import '../../variables.scss';
