<div class="politique">
    <h1>Politiques de confidentialités</h1>
    <div class="explications">
        <p>
            En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi
            n°
            2004-801
            du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995, et de la
            RGPD
            (Réglementation Générale sur la Protection des Données)</p>

        <p>
            En tout état de cause Âge d'Or ne collecte des informations personnelles relatives à l'utilisateur que pour
            le
            besoin de
            certains services proposés par le site l'âge d'or. L'utilisateur fournit ces informations en toute
            connaissance
            de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du
            site
            l'obligation ou non de fournir ces informations.</p>

        <p>
            Toute modification ou suppression de données personnelles sont possible simplement en nous écrivant à
            l'adresse
            mail
            <a routerLink="mailto:agedor@gmail.com"> agedor@gmail.com</a>
        </p>

        <p>
            Il est précisé qu'aucune information personnelle de l'utilisateur du site del'Âge d'Or n'est publiée à
            l'insu de
            l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.</p>

    </div>
</div>