.mat-dialog-title{
    text-align: center;
}
.mat-dialog-content{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0.5em 1em;
}
.mat-dialog-actions{
    justify-content: center;
    .mat-button{
        min-width: 100px;
        &:hover{
            filter: brightness(90%);
            color: #fff;
        }
    }
}

.btnAnnulerBox{
    background-color: #90d6ce;
}
.btnSupprimerBox{
    background-color: #f44336;
}