<h1 mat-dialog-title>Suppression</h1>
<div mat-dialog-content class="phrase">
    <p>Confirmer la suppresion de votre {{data.type}}</p>
</div>
<div mat-dialog-actions class="btnConfirmation">
    <button mat-button (click)="onNoClick()" class="btnAnnulerBox">Annuler</button>
    <button mat-button [mat-dialog-close]="data.confirmation" class="btnSupprimerBox" cdkFocusInitial>Supprimer</button>
</div>